---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs.">
  <main
    class="flex flex-col animate__animated animate__fadeIn h-full px-4 items-center justify-center"
  >
    <div class="max-w-screen-lg w-full my-8 mx-auto px-6 space-y-6">
      <h2 class="font-bold text-3xl">blogs.</h2>
    </div>
  </main>
</Layout>
