---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="İletişim.">
  <main
    class="flex flex-col animate__animated animate__fadeIn h-full px-4 items-center justify-center"
  >
    <div class="max-w-screen-lg w-full mb-12 mx-auto px-6 space-y-6">
      
    </div>
  </main>
</Layout>
