---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
---

<Layout title="erayjs.">
  <main class="flex">
    <div
      class="px-4 w-full h-[calc(80vh-14rem)] flex items-center flex-col gap-6 justify-center text-[#2F5A43] bg-[#64E19E] bg-[url('https://i.ibb.co/JWFDFyh6/image.png')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="flex flex-col gap-6 w-full justify-center items-start max-w-screen-lg mx-auto"
      >
        <h1 class="text-5xl font-bold">Eray Can Topcu</h1>
        <p>erayjs - developer</p>
        <p class="text-sm max-w-2xl line-clamp-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
        </p>
        <div class="space-x-2">
          <Button
            variant="outline"
            className="border-[#2F5A43] text-[#2F5A43] rounded-full"
          >
            <a href="/projects">my projects</a>
          </Button>
          <Button className="bg-[#2F5A43] text-white rounded-full">
            <a href="/contact">contact</a>
          </Button>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-family: "Boldonse", system-ui, sans-serif;
  }
</style>
