---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projeler.">
  <main class="flex h-full justify-center">
    <div class="container max-w-screen-lg flex px-4">asjdpoıajd</div>
  </main>
</Layout>
