---
const data = await import("../api/config.json");
---

<footer
  class="flex gap-2 justify-center w-full items-center bg-[#2F5A43] py-10 text-center text-white"
>
  <div
    class="justify-between w-full max-w-screen-lg max-lg:flex-col max-lg:gap-4 flex items-center"
  >
    <div class="rounded-full items-center hover:*:text-[#64E19E] flex px-2">
      {
        data.default[0].social.map((item) => (
          <a
            href={item.href}
            target="_blank"
            title={item.title}
            class="flex h-10 w-10 items-center justify-center"
          >
            <i class={`${item.icon} text-2xl`} />
          </a>
        ))
      }
    </div>
    <div class="justify-end flex gap-1 text-right">
      <p class="opacity-55">developed by</p>
      <a
        href="/"
        class="opacity-100 hover:text-[#64E19E]"
        title="Eray Can Topcu">@erayjs</a
      >
    </div>
  </div>
</footer>
