---
const menu = [
  {
    title: "Hakkımda",
    href: "/",
  },
];
---

<footer
  class="flex gap-2 justify-center w-full max-lg:flex-col items-center py-10 text-center text-black *:opacity-55"
>
  <p>Bu web sitesinin kaynak kodlarına</p>
  <a href="/" class="underline hover:opacity-100">Github üzerinden</a>
  <p>ulaşabilirsiniz.</p>
</footer>
